@model Student



<form action="/Student/AddStudent" method="post" enctype="multipart/form-data">
    <partial name="_StudentFormPV" />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Page{
        Add Student
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}