@model List<Course>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Assign Course</h3>
    <a asp-controller="Instructor" asp-action="Details" asp-route-id="@ViewBag.InstructorId" class="btn btn-outline-primary">Back</a>
</div>

<div class="card border-0 shadow-sm">
    <div class="card-body p-4">
        <form asp-action="AssignCourse">
            <input type="hidden" name="instructorId" value="@ViewBag.InstructorId" />

            <select name="courseId" class="form-control">
                @foreach (var course in Model)
                {
                    <option value="@course.crs_Id">@course.crs_Name</option>
                }
            </select>

            <button type="submit" class="btn app-btn-primary mt-3">Assign</button>
        </form>
    </div>
</div>



@section Page {
    Instrctor Details / AssignCourse
}
