@model List<Course>

<h2>Select Course</h2>

<form asp-action="AssignCourse">
    <input type="hidden" name="instructorId" value="@ViewBag.InstructorId" />

    <select name="courseId" class="form-control">
        @foreach (var course in Model)
        {
            <option value="@course.crs_Id">@course.crs_Name</option>
        }
    </select>

    <button type="submit" class="btn btn-success mt-2">Assign</button>
</form>



@section Page {
    Instrctor Details / AssignCourse
}
