@model Instructor



<form asp-action="Add" asp-controller="Instructor" method="post" >
    <partial name="InstructorFormPV" />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Page {
            Add Instructor
}
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}