@model Instructor


<div class="row">
    <div class="col-12"><a asp-action="Index" asp-controller="Instructor" class="btn btn-outline-primary">Back to List</a></div>
    <div class="col-md-8">
        <form asp-action="Edit" asp-controller="Instructor" asp-route-id="@Model.ins_Id" method="post" >
            <input type="hidden" asp-for="ins_Id" />
            <partial name="InstructorFormPV" />
            

            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

@section Page {
            Edit Instructor / @Model.ins_Id
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}