@model Instructor


<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Edit Instructor</h3>
    <a asp-action="Index" asp-controller="Instructor" class="btn btn-outline-primary">Back to List</a>
</div>

<div class="card border-0 shadow-sm">
    <div class="card-body p-4">
        <form asp-action="Edit" asp-controller="Instructor" asp-route-id="@Model.ins_Id" method="post" >
            <input type="hidden" asp-for="ins_Id" />
            <partial name="InstructorFormPV" />

            <button type="submit" class="btn app-btn-primary mt-2">Save Changes</button>
        </form>
    </div>
</div>

@section Page {
            Edit Instructor / @Model.ins_Id
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}