@model Department

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Add Department</h3>
    <a asp-action="Index" asp-controller="Department" class="btn btn-outline-primary">Back to List</a>
</div>

<div class="card border-0 shadow-sm">
    <div class="card-body p-4">
        <form asp-action="Add" asp-controller="Department" method="post">
            <partial name="DepartmentFormPV" />

            <button type="submit" class="btn app-btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>

@section Page {
        Add Department
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}