@model Department

<form asp-action="Add" asp-controller="Department" method="post">
    <partial name="DepartmentFormPV" />

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Page {
        Add Department
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}