@model Department

<div class="row">
    <div class="col-12"><a asp-action="Index" asp-controller="Department" class="btn btn-primary">Back to List</a></div>
    <div class="col-md-8">
        <form asp-action="Edit" asp-controller="Department" asp-route-id="@Model.DeptId" method="post">
            <input type="hidden" asp-for="DeptId" />
            <partial name="DepartmentFormPV" />

            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Page {
                Edit Department (@Model.DeptName)
}


